<ul style="list-style: square; margin-left: 1rem;">
{% for singleEntry in craft.entries.section('faqs').orderBy('dateCreated').all() %}
	<li>
		<a href="{{singleEntry.getCpEditUrl()}}">{{singleEntry.title}}</a>
	</li>
{% endfor %}
</ul>