{% extends "_layouts/default" %}
{% import "_partials/imgMacros" as imgMacros %}

{% if not entry.headerImage|length and entry.image|length %}
{% set heroBackground = imgMacros.srcset(entry.image[0]) %}
{% endif %}

{% if entry.portfolioCategory|length %}
{% set pageSubHeading = entry.portfolioCategory[0].title %}
{% endif %}

{% block content %}

<div class="mx-auto max-w-2xl">
    <div class="prose md:prose-lg mb-6">
        {{ entry.body }}
    </div>
</div>

{% if entry.imageGallery|length %}
<div class="relative -mx-4 mb-6 p-4 ">
    <div class="relative z-10 max-w-5xl mx-auto my-6 md:mb-12 grid grid-cols-2 gap-5 sm:grid-cols-3">
        {% for image in entry.imageGallery.all() %}
            <div class="flex flex-col rounded-sm overflow-hidden">
                <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover lazyload" {{imgMacros.srcset(image)}} alt="{{entry.title}} Gallery {{loop.index}}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
